/* navbar */
.navbar {
  margin-bottom: 0;
}

/* выпадающее меню */
#menu {
  background-color: #ddd;
}

/* секция */
.menu-section {
  background-color: #bbb;
  padding: 20px;
  margin-top: 20px;
  min-height: 1000px; /* чтобы был скролл */
}

/* текст */
.menu-section p {
  font-size: 16px;
}
